version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www:Z
    depends_on:
      - db

  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - .:/var/www:Z
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:Z
    depends_on:
      - app

  db:
    image: mysql:8.4
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: sistem_sidang_v2
      MYSQL_USER: supri
      MYSQL_PASSWORD: Supri-123
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
